<!DOCTYPE html>
<html lang="en">
  {{ partial "head" .}}

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">DK85 Closet Inc.</a></h1>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About us</a></li>
            <li><a class="nav-link scrollto" href="#faq">FAQs</a></li>
            <li>
              <a class="getstarted scrollto" href="#contact">donate!!</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div
        class="container position-relative"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="row justify-content-center">
          <div class="col-lg-9 text-center">
            <img src="/assets/img/logo.png" alt="Logo" />
            <h1>Help make a difference!</h1>
            <h2>
              Our mission is to empower young people by providing them with the
              tools they need to succeed and feel confident.
            </h2>
          </div>
        </div>
        <div class="text-center">
          <a href="#contact" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About Us</h2>
          </div>

          <div class="row content justify-content-center">
            <div class="col-lg-9 text-center">
              <p>
                DK85 Closet Inc. initiative is to service underprivileged &
                ostracized youth with adequate clean apparel, while providing
                intervention/prevention of suicide and bullying through mental
                health services. Our mission is to empower young people by
                providing them with the tools they need to succeed and feel
                confident. We recognize that many young people in our community
                are facing multiple challenges, including poverty, social
                isolation, and mental health issues. By addressing these issues,
                we hope to create a healthier, more inclusive community for all.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Counts Section ======= -->
      <section id="counts" class="counts">
        <div class="container">
          <div class="row justify-content-end">
            <div
              class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch"
            >
              <div class="count-box">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="65"
                  data-purecounter-duration="2"
                  class="purecounter"
                ></span>
                <p>Make donations</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch"
            >
              <div class="count-box">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="85"
                  data-purecounter-duration="2"
                  class="purecounter"
                ></span>
                <p>Projects</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch"
            >
              <div class="count-box">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="130"
                  data-purecounter-duration="2"
                  class="purecounter"
                ></span>
                <p>Help to peoples</p>
              </div>
            </div>

            <div
              class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch"
            >
              <div class="count-box">
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="20"
                  data-purecounter-duration="2"
                  class="purecounter"
                ></span>
                <p>Awards</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Counts Section -->

      <!-- ======= About Video Section ======= -->
      <section id="about-video" class="about-video section-bg">
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div
              class="col-lg-6 video-box align-self-baseline"
              data-aos="fade-right"
              data-aos-delay="100"
            >
              <img src="/assets/img/about-video.jpg" class="img-fluid" alt="" />
              <a
                href="https://www.youtube.com/watch?v=cYBgve2fIZY"
                class="glightbox play-btn mb-4"
                data-vbtype="video"
                data-autoplay="true"
              ></a>
            </div>

            <div
              class="col-lg-6 pt-3 pt-lg-0 content"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <h3>
                DK85 Closet Inc.'s Mission to Foster Confidence and Prevent
                Bullying
              </h3>
              <p class="fst-italic">
                We are dedicated to making a positive impact on young lives by
                addressing key issues such as suicide prevention, bullying
                intervention, and mental health support. With a vision of
                creating a healthier and more inclusive community, we strive to
                equip young people with the tools they need to succeed and feel
                confident in their abilities.
              </p>
              <ul>
                <li>
                  <i class="bx bx-check-double"></i> Aiding Underprivileged
                  Youth
                </li>
                <li>
                  <i class="bx bx-check-double"></i> Preventing Bullying Through
                  Intervention
                </li>
                <li>
                  <i class="bx bx-check-double"></i> Mental Health Services for
                  Youth
                </li>
                <li>
                  <i class="bx bx-check-double"></i> Empowerment for a Brighter
                  Future
                </li>
              </ul>
              <p>
                At DK85 Closet Inc., we believe that investing in the well-being
                of our youth is not just a social responsibility but also a
                transformative force that shapes a stronger and more
                compassionate society.
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Video Section -->

      <!-- ======= Frequently Asked Questions Section ======= -->
      <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Frequently Asked Questions</h2>
          </div>

          <div class="faq-list">
            <ul>
              <li data-aos="fade-up">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  class="collapse"
                  data-bs-target="#faq-list-1"
                  >What is DK85 Closet Inc.'s primary mission?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-1"
                  class="collapse show"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    DK85 Closet Inc.'s primary mission is to empower
                    underprivileged and ostracized youth by providing them with
                    adequate clean apparel and access to mental health services.
                    We aim to address issues like suicide prevention, bullying,
                    and social isolation, while fostering confidence and a sense
                    of belonging among young individuals.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-2"
                  class="collapsed"
                  >How does DK85 Closet Inc. support underprivileged youth?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-2"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    DK85 Closet Inc. supports underprivileged youth by offering
                    clean apparel, which not only meets their basic needs but
                    also boosts their self-esteem and dignity. We recognize that
                    many young individuals face poverty, and providing them with
                    clothing ensures they have the necessary resources to lead a
                    more confident life.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-3"
                  class="collapsed"
                  >How does DK85 Closet Inc. address bullying among youth?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-3"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    DK85 Closet Inc. takes a proactive stance against bullying
                    by implementing intervention programs that promote empathy,
                    tolerance, and respect among peers. We believe that by
                    fostering a compassionate environment, we can reduce the
                    prevalence of bullying and create a safer space for young
                    individuals to thrive.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-4"
                  class="collapsed"
                  >What mental health services does DK85 Closet Inc. provide for
                  youth? <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-4"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    DK85 Closet Inc. is deeply committed to addressing the
                    mental health challenges faced by young people. We offer
                    specialized mental health services that provide a safe and
                    supportive space for youth to share their struggles, access
                    professional guidance, and develop effective coping
                    strategies to overcome adversities.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-5"
                  class="collapsed"
                  >How can I get involved with DK85 Closet Inc.'s mission?
                  <i class="bx bx-chevron-down icon-show"></i
                  ><i class="bx bx-chevron-up icon-close"></i
                ></a>
                <div
                  id="faq-list-5"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    Getting involved with DK85 Closet Inc.'s mission is easy and
                    rewarding. You can support our cause by volunteering your
                    time, making donations, or spreading awareness about the
                    issues faced by underprivileged youth and the importance of
                    mental health support. Together, we can create a stronger,
                    more inclusive community for all young individuals.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <!-- End Frequently Asked Questions Section -->

      <!-- ======= Cta Section ======= -->
      <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
          <div class="text-center">
            <img src="/assets/img/logo-2.png" alt="Logo" />
            <h3>Support underprivileged youth. Donate today!</h3>
            <p>
              Help us create a brighter future for these young individuals who
              face challenges like poverty and bullying. Every donation, no
              matter the size, matters. Join us in making a positive change in
              the lives of these young hearts. Donate now and be a part of this
              transformative journey!
            </p>
            <a class="cta-btn" href="#contact">Call To Action</a>
          </div>
        </div>
      </section>
      <!-- End Cta Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contact</h2>
          </div>

          <div class="row mt-5">
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>
                    DK85 Closet Inc. 1317 Edgewater Dr #2816 Orlando, FL 32804
                  </p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@dk85closet.org</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55</p>
                </div>
              </div>
            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">
              <form action="/" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Your Name"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    {{ partial "footer.html" .}}
  </body>
</html>
